.feature-card-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
.feature-card-icon {
  fill: var(--dl-color-gray-500);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.feature-card-text {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-text1 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.feature-card-text2 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}

.cardscontainer-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cardscontainer-cardscontainer {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 16px 0;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.cardscontainer-cardgetstarted {
  gap: 10px;
  width: 329px;
  height: 175px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-image: linear-gradient(57deg, rgba(98, 0, 255, 1) 0%, rgba(152, 73, 255, 1) 100%);
}
.cardscontainer-frame3 {
  width: 281px;
  height: 127px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.cardscontainer-materiallibrary411 {
  top: -27px;
  left: -27px;
  width: 335px;
  height: 182px;
  position: absolute;
}
.cardscontainer-text {
  top: 91px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 136.00000143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.cardscontainer-text02 {
  top: 111px;
  color: rgba(255, 255, 255, 0.800000011920929);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 136.00000143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.cardscontainer-video-tutorials {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12.40845012664795px;
  background-image: linear-gradient(147deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.10000000149011612) 100%);
}
.cardscontainer-iconar {
  top: 8px;
  left: 9px;
  width: 22px;
  height: 24px;
  position: absolute;
}
.cardscontainer-cardgetstarted1 {
  gap: 10px;
  width: 329px;
  height: 175px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-image: linear-gradient(57deg, rgba(98, 0, 255, 1) 0%, rgba(152, 73, 255, 1) 100%);
}
.cardscontainer-frame31 {
  width: 281px;
  height: 127px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.cardscontainer-materiallibrary4111 {
  top: -27px;
  left: -27px;
  width: 335px;
  height: 182px;
  position: absolute;
}
.cardscontainer-text04 {
  top: 91px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 136.00000143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.cardscontainer-text06 {
  top: 111px;
  color: rgba(255, 255, 255, 0.800000011920929);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 136.00000143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.cardscontainer-video-tutorials1 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12.40845012664795px;
  background-image: linear-gradient(147deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.10000000149011612) 100%);
}
.cardscontainer-iconar1 {
  top: 8px;
  left: 9px;
  width: 22px;
  height: 24px;
  position: absolute;
}
.cardscontainer-cardgetstarted2 {
  gap: 10px;
  width: 329px;
  height: 175px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-image: linear-gradient(57deg, rgba(98, 0, 255, 1) 0%, rgba(152, 73, 255, 1) 100%);
}
.cardscontainer-frame32 {
  width: 281px;
  height: 127px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.cardscontainer-materiallibrary4112 {
  top: -27px;
  left: -27px;
  width: 335px;
  height: 182px;
  position: absolute;
}
.cardscontainer-text08 {
  top: 91px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 136.00000143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.cardscontainer-text10 {
  top: 111px;
  color: rgba(255, 255, 255, 0.800000011920929);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 136.00000143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.cardscontainer-video-tutorials2 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12.40845012664795px;
  background-image: linear-gradient(147deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.10000000149011612) 100%);
}
.cardscontainer-iconar2 {
  top: 8px;
  left: 9px;
  width: 22px;
  height: 24px;
  position: absolute;
}
.cardscontainer-cardgetstarted3 {
  gap: 10px;
  width: 329px;
  height: 175px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-image: linear-gradient(57deg, rgba(98, 0, 255, 1) 0%, rgba(152, 73, 255, 1) 100%);
}
.cardscontainer-frame33 {
  width: 281px;
  height: 127px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.cardscontainer-materiallibrary4113 {
  top: -27px;
  left: -27px;
  width: 335px;
  height: 182px;
  position: absolute;
}
.cardscontainer-text12 {
  top: 91px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 136.00000143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.cardscontainer-text14 {
  top: 111px;
  color: rgba(255, 255, 255, 0.800000011920929);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 136.00000143051147%;
  font-stretch: normal;
  text-decoration: none;
}
.cardscontainer-video-tutorials3 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12.40845012664795px;
  background-image: linear-gradient(147deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.10000000149011612) 100%);
}
.cardscontainer-iconar3 {
  top: 8px;
  left: 9px;
  width: 22px;
  height: 24px;
  position: absolute;
}
.cardscontainer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.cardscontainer-link {
  display: contents;
}
.cardscontainer-component {
  text-decoration: none;
}
